---
import Layout from '../layouts/Layout.astro'

---
<Layout>
    <div slot="article" class="w-full flex justify-center dark:bg-violet-200 dark:text-white mt-5 mb-5">
		<div class=" md:max-w-5xl md:flex items-center justify-center">
			<div class=" w-full flex justify-center md:hidden mt-16 mb-10">
			</div>
			<div>
				<div class=" ml-5  p-3 rounded-xl" >
					<h1 class="text-2xl font-bold italic text-transparent bg-clip-text bg-gradient-to-r from-gray-600 via-purple-500 to-violet-400">El Amor</h1>
				</div>
    			<h2 class=" text-xl">Es un sentimiento que conecta </h2>
                <h2 class=" text-xl">al pensamiento con el corazón </h2>
                <h2 class=" text-xl">que te hace sentir mariposas</h2>
                <h2 class=" text-xl">y todo lo que ves rosa es su color</h2>
                
                <br>
                <h2 class=" text-xl">te llevo siempre conmigo </h2>
                <h2 class=" text-xl">mi escencia es el Amor</h2>
                <h2 class=" text-xl">a veces, dentro de mi no te alimento </h2>
                <h2 class=" text-xl">mi espíritu me dice, que es mi obligación</h2>
                <br>
                <h2 class=" text-xl">sabemos que el Amor existe</h2>
                <h2 class=" text-xl">aunque no lo podamos ver</h2>
                <h2 class=" text-xl">sabemos que el Amor se siente</h2>
                <h2 class=" text-xl">aunque no sepamos donde este</h2>
                <br>
                <h2 class=" text-xl">el amor alimenta mi espíritu</h2>
                <h2 class=" text-xl">me hace sentir vibración y conexión</h2>
                <h2 class=" text-xl">de que existe una energia superior que yo</h2>
                <h2 class=" text-xl">vibro y siento la onda que soy</h2>
                <br>
                <h2 class=" text-xl">que soy un espíritu viviendo</h2>
                <h2 class=" text-xl">una experiencia muy humana</h2>
                <h2 class=" text-xl">y no un humano sintiendo </h2>
                <h2 class=" text-xl">una experiencia espiritual</h2>
                
			</div>
      <div class=" hidden md:flex justify-end w-24 transition shadow-lg hover:shadow-2xl opacity-80 hover:opacity-100 hover:scale-105">
        
      </div>

		</div>
    
	</div>
</Layout>