---
import Layout from '../layouts/Layout.astro'

---
<Layout>
    <div slot="article" class="w-full flex justify-center dark:bg-violet-200 dark:text-white mt-5 mb-5">
		<div class=" md:max-w-5xl md:flex items-center justify-center">
			<div class=" w-full flex justify-center md:hidden mt-16 mb-10">
				<img src="/public/caracmh.png" alt="Mi Foto" class=" rounded-full drop-shadow-lg">
			</div>
			<div class=" hidden md:flex justify-end w-1/3 transition shadow-lg hover:shadow-2xl opacity-80 hover:opacity-100 hover:scale-105">
				<img src="/public/formacion.jpeg" alt="familia" class=" h-126 rounded-md">
			</div>
			<div class=" w-full flex items-center justify-center md:w-2/3 ">
				<div class=" flex-col w-2/3 bg-gray-200 p-5 rounded-2xl  dark:text-gray-700 dark:bg-slate-200">
					
					<div class="space-y-4"> <!-- space-y-4 -->
						
						<div class=" my-1">
							<span class=" font-bold">Formacion académica</span>
								<ul>
									<li> <span>-> Lic. en Informática:</span> Tecnológico de cd. Guzman  </li>
									<li> <span>-> Cedula:</span> 3093922  </li>
									<li> <span>-> Maestría en computación:</span> Centro universitario de la Cienega</li>
									<li> <span>-> Cedula:</span> 8532969 </li>
								</ul>
						</div>
						<div class=" my-1">
							<span class=" font-bold">Experiencia laboral</span>
								<ul>
									<li> <span>-> Docente: </span> 24 años  </li>
									<li> <span>-> Coordinador de educación a distancia: </span> 8 años</li>
									<li> <span>-> Coordinador de carrera:</span> 8 años</li>
								</ul>
						</div>
						<div class=" my-1">
							<span class=" block font-bold">Asignaturas impartidas</span> <!--block -->
							   <ul>
								   <li> <span>-> Fundamentos de programación</span>  </li>
								   <li> <span>-> Programación orientada a objetos</span>  </li>
								   <li> <span>-> Taller de sistemas operativos</span>  </li>
								   <li> <span>-> Administracion de bases de datos</span>  </li>
								   <li> <span>-> Programación web</span>  </li>
							   </ul>
					   </div>
						<div class=" my-1">
							<span class=" font-bold">Habilidades blandas</span>
								<ul>
									<li> <span>-> Trabajo en equipo</span> </li>
									<li> <span>-> Responsable</span></li>
									<li> <span>-> Tolerante</span></li>
									<li> <span>-> Empático</span></li>
									<li> <span>-> Resiliente</span></li>
								</ul>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

</Layout>