<div class=" flex items-center justify-center text-black h-20 dark:bg-violet-200 dark:text-white">
        <div class=" w-52 flex justify-around">
        <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank">
            <img src="/linkedin.png" alt="" class=" rounded-lg h-8 hover:scale-125">
        </a>
        <a href="https://platzi.com/"  target="_blank">
            <img src="/platzi.png" alt="" class=" h-8 hover:scale-125">
        </a>
        <a href="https://github.com/carzeny"  target="_blank">
            <img src="/github.png" alt="" class=" h-8 hover:scale-125">
        </a>
        
        </div>  
</div>